@import "tailwindcss";
@plugin "daisyui" {
    themes: bumblebee
};

.logo {
    @apply w-60 h-full p-10;
};

.header {
    @apply flex flex-col justify-center items-center text-5xl font-bold;
};

.footer {
    @apply fixed bottom-0 w-full text-center p-4 bg-gray-200;
};

.root {
    @apply bg-base-100;
}
